@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  position: relative;
}

.footer {
  background-color: #30292F;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0.5rem 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #30292F;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  max-height: 1rem;
}

.nav-bar-title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Rubik Bubbles', cursive;
  a {
    color: #FF8C42;
    text-decoration: none;
  }
}

.nav-bar-info {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  a {
    text-decoration: none;
    color: #FFFFFF;
  }
}

.nav-bar-logout {
  cursor: pointer;
  color: #FF6F61;
}