.quiz-page {
  padding: 1.5rem 0.3rem;
}

.loading {
  margin-top: 2rem;
  margin-left: 1rem;
}

.page-title {
  font-size: 2rem;
  text-align: center;
}

.quiz-controls {
  display: grid;
  grid-template-columns: 5fr 2fr 0.75fr;
  gap: 1rem;
  align-items: center;
}

.quiz-sort {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.sort-select {
  padding: 0.3rem;
  font-size: 0.85rem;
}

.quiz-create {
  justify-self: start;
  margin-right: 0.3rem;
}

.create-quiz-button {
  padding: 0.5rem 1rem;
  background-color: #FF8C42;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  text-wrap: nowrap;
}

.quiz-list {
  margin-top: 1.1rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  gap: 0.6rem;
  grid-auto-flow: row;
}

/* Quiztile */

.quiz-tile {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.3rem;
  max-width: 17rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.quiz-tile h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  text-align: center;
}

.quiz-tile p {
  font-size: 0.9rem;
  margin: 0.25rem 0.7rem;
  text-align: justify;
}

.quiz-footer {
  margin-top: auto;
}

.quiz-meta {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0.3rem;
  font-size: 0.85rem;
  align-items: end;
}

.quiz-actions {
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}