.page-title {
  text-align: center;
}

.container {
  padding: 0rem 1rem;
}

.quiz-info-title{ 
  grid-area: quiz-info-title;
}
.quiz-description {
  grid-area: quiz-description;
}
.quiz-title {
  grid-area: quiz-title;
}
.quiz-category {
  grid-area: quiz-category;
}
.quiz-time-limit {
  grid-area: quiz-time-limit;
}

.quiz-info-container {
  display: grid;
  grid-template-areas:
    "quiz-info-title quiz-info-title"
    "quiz-title quiz-title"
    "quiz-description quiz-description"
    "quiz-time-limit quiz-category";
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.questions-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.questions-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.category-select {
  padding: 0.5rem;
  font-size: 0.8rem;
}

.options-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-add-option {
  font-size: 0.8rem;
  padding: 0.15rem 0.30rem;
}

.options-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.option-item {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.5rem;
  align-items: center;
}

.option-item input[type="radio"] {
  height: 1rem;
}

.question-header2 {
  display: flex;
  justify-content: row;
  gap: 1rem;
  align-items: center;
}

.options-instruction {
  margin: 0.25rem 0;
  font-style: italic;
}

.btn-remove {
  font-size: 0.75rem;
  padding: 0.2rem 0.40rem;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
  padding-bottom: 0.5rem;
} 

.btn-submit {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #4F46E5;
  border: 2px solid #4F46E5;
  border-radius: 0.3rem;
  color: #FFFFFF;
}

.btn-cancel {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #96897b5e;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.btn-add-question {
  font-size: 0.875rem;
  padding: 0.5rem 0.5rem;
  background-color: #f27f38;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem; 
}