@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.register-page, .login-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50rem;
  margin: 1.5rem auto 0 auto;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 1.9rem;
  margin-top: 2rem;
}

.register-form, .login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.celsForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
  text-align: left;
  font-size: 0.9rem;
}

input {
  padding: 8px;
  font-size: 0.9rem;
  border: 1.5px solid #ccc;
  border-radius: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.celsFormBut {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.celsFormBut button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #4F46E5;
  border: 2px solid #4F46E5;
  border-radius: 0.5rem;
  width: 150px;
  color: #FFFFFF;
}

.login-redirect {
  margin-top: 0.3rem;
  font-size: 0.9rem;
  a {
    text-decoration: none;
  }
}